header{
    font-size: 24px;  
}
footer, header{
    background-color: navy;
    text-align: center;
    border-radius: 10px;
    color: white;
    
}
header, main, footer{
    margin: 1.25rem auto;
    max-width: 760px;
}
img{
    height: 175px;
    position: relative;
    float: right;
    margin: 10px;
    border-radius: 10px;
}
hr{
    position: relative;
}
footer a{
    color: gold;
}
#update {
    color: hotpink;
}
