header{
    font-size: 24px; 
    color: white; 
}
footer, header{
    background-color: navy;
    text-align: center;
    border-radius: 10px;
    color: white;
}

main section{
    border-radius: 10px;
    margin: .5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: lightgray;
}
h1, h2, h3, h4, h5, h6, nav {
    font-family: 'Oswald', sans-serif;
}
h3 {
    color: white;
    background-color: darkblue;
}
    
header, main, footer {
    margin: 1.25rem auto;
    max-width: 1250px;
}
img {
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}
header a, footer a{
    color: yellow;
}
p{
    font-family: 'Open Sans Condensed', sans-serif;
}

