header{
    font-size: 24px; 
    color: white; 
}
footer, header{
    background-color: navy;
    text-align: center;
    border-radius: 10px;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}
    
header, main, footer{
    margin: 1.25rem auto;
    max-width: 760px;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 250px;
    position: relative;
    margin: 10px;
    border-radius: 10px;
}
header a, footer a{
    color: yellow;
}
