
    body {
        margin: 0 auto;
    }
    
    header, footer {
        position: relative;
        background-color: black;
        color: white;
        text-align: center;
        font-family: 'Crete Round', serif;
    }

    .navigation {
        list-style: none;
        padding: 0;
        font-family: 'Oswald', sans-serif;
        background-color: #36454f;

    }

    .navigation li:first-child {
        display: block
    }

    .navigation li {
        display: none;
        padding: 10px;
        color: black;
    }

    .navigation a {
        display: block;
        text-decoration: none;
        color:white;
    }

    .responsive li {
        display: block;
    }

    footer {
        background-color: #36454f;
        text-align: center;
        box-shadow: 0 2px 15px gray;
        padding: 2px;
    }
    
    header a, footer a {
        color: white;
        list-style: none;
        text-decoration: none;
    }
    header img {
        float: left;
        margin: 10px;
        max-width: 60px;
    }
    h1 {
        margin: 0px;
        padding-top: 10px;
    }
    main, footer {
        margin: 0 auto;
        font-family: 'Oswald', sans-serif;
    }
    #colors {
        max-width: 500px;
    }
    h2 {
        text-align: center;
        font-family: 'Crete Round', serif;
    }
    nav .current {
        background-color: black;
    }
    li:hover {
        background-color: white;
        color: black;
    }
    nav a:hover {
        color: black;
    }
    ul {
        list-style: none;
    }
    
    footer img {
        display: none;
    }
    footer div {
        margin-left: 10px;
        border-style: none;
        background-color: #36454f;
        padding: 10px;

    }
    aside div {
        background-color: gold;
        color: black;
        padding: 25px 0px 0px 0px;
        margin: 0;
        border: 0;
        font-family: 'Oswald', sans-serif;
        width: 100%;
        height: 50px;
        text-align: center;
        font-size: 20px;
    }
    section img, section p {
        display: block;
    }
    section img {
        margin: 15px 0px;
        object-fit: cover;
        width: 100%;
    }
    section p {
        padding: 5px;
        margin: 0px;
    }
    .towndata {
       display: grid;
       grid-gap: 20px;
       grid-template-columns: 1fr;
       
   }
   section {
    position: relative;
    background-color:  #bacbdd;
    margin-bottom: 0px;
    padding: 0px 10%;
   }
    section:nth-child(2), section:nth-child(4), section:nth-child(5) {
       display: none;
   }
   main {
       position: relative;
   }
   