@media only screen and (min-width: 600px){
    header img {
        float: left;
        margin: 10px 10px 0 10px;
        min-width: 100px;
    }
    .navigation {
        display: flex;
        padding: 0px;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    div.adventures {
        grid-template-columns: 1fr 1fr;
    }
    div.adventures img {
        max-width: 100%;
    }

}