@media only screen and (min-width: 45em){
    .navigation {
        display: flex;
        padding: 10px;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .forecast {
        display: block;
    }
   
    footer img {
        display: inline;
        position: relative;
        padding-left: 15%;
        float: left;
        padding-top: 25px;
        min-width: 250px;

    }
   footer div {
        margin-left: 50%;
        border-style: none;
        background-color: #36454f;
        padding: 10px;
    }
}