body {
    max-width: 760px;
    margin: 0 auto;
    background-color: white;
}

header, footer {
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Crete Round', serif;
}

nav, footer {
	background-color: #36454f;
	text-align: center;
    box-shadow: 0 2px 15px gray;
    padding: 2px;
}
nav {
    display: flex;
}
li {
    list-style-type: none;
    
    margin: 20px;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
}
nav li a, footer a {
    color: white;
    list-style: none;
}
nav a:hover {
    background-color: white;
    color: black;

}
header img {
    float: left;
    margin: 10px;
}
main, footer {
    font-family: 'Oswald', sans-serif;
}
img {
    max-width: 100px;
}
#colors {
    max-width: 500px;
}
h3 {
    font-family: 'Crete Round', serif; 
}
