@media only screen and (min-width: 768px){
    .navigation {
        display: flex;
        padding: 0px;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
   
    footer img {
        display: inline;
        position: relative;
        padding-left: 15%;
        float: left;
        padding-top: 25px;
        min-width: 250px;
        max-width: 60px;;

    }
    footer {
        max-width: 940px;
    }
    footer div {
        margin-left: 15px;
        border-style: none;
        background-color: #36454f;
        padding: 10px;
    }
    section {
        display: block;
        
    }
    section img {
        width: 100%;
        margin: 15px 0px;
    }
    .towndata {
        max-width: 960px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }
    /* section:nth-child(2), section:nth-child(4), section:nth-child(5) {
        display: none;
    }*/
    section h2, section h3, section p {
        display: block;
    }
}